.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.title_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-left: 60px;
}

.logo {
    width: 70px;
    height: 74px;
    object-fit: contain;
}

.title {
    font-size: 2 rem;
    font-weight: bold;
}

.nav_section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
    margin-right: 60px;
}