.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    gap: 24px;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
}