.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.child_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.category {
    font-size: 32px;
    font-weight: bold;
}