.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 160px;
    width: 100%;
}

.title {
    font-size: 64px;
    font-weight: bold;
}

.skill_section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
    width: 100%;
}

.child_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.category {
    font-size: 32px;
    font-weight: bold;
}