.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 40px 112px 40px;
    gap: 24px;
}

.copyright {
    font-size: 16px;
    color: var(--color-blue-gray);
}