.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 80px;
    gap: 32px;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
}