.container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;

    width: 300px;
    height: 430px;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.img_section {
    width: 100%;
    height: 250px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.info_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    background-color: var(--color-card-background);
    /* img_section을 제외한 모든 나머지 공간을 차지한다고 함 */
    flex-grow: 1;
}

.info_section * {
    background-color: transparent;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.date,
.summary,
.project_type {
    font-size: 16px;
}

.summary {
    /* 2줄을 초과하는 내용이 들어갔을 때 말줄임표를 사용해 최대 2줄만 표시하도록 함 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; 
    line-height: 1.1;
    word-break: break-all; 
}

.tag_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.stack_section {
    display: flex;
    gap: 8px;
}

.stack_logo {
    width: 24px;
    height: 24px;
}

.team,
.personal {
    padding: 7px;
    color: var(--color-blue-white);
    border-radius: 5px;
}

/* 조건부 렌더링 */
.team {
    background-color: var(--color-primary);
}

.personal {
    background-color: var(--color-blue-gray);
}